<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body style="background-color: powderblue;">
    <div>
        <form action="" method="post">
            <label>USERNAME</label><br>
            <input name="username" type="email" placeholder="write your username"><br><br>
            <label>PASSWORD</label><br>
            <input type="password" name="password" placeholder="write your password"><br><br>
            <input type="submit" value="LOGIN"><br><br>
        </form>
    </div>
    <div>
        <form action="/new">
            <label>NEW HERE?</label>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>